<div>
  <h2>Компания "Туда-Сюда"</h2>
  <p>
    Мы — компания "Туда-Сюда", занимающаяся грузоперевозками. Компания была
    основана в 2021 году и за это время мы завоевали доверие многих клиентов.
  </p>

  <p>
    Наша компания специализируется на грузоперевозках и предоставляет только
    надежные и удобные автомобили для этой цели. Мы используем газели, которые
    отличаются компактностью и высокой грузоподъемностью.
  </p>
  <p>
    Характеристики данного автомобиля: длина 3м, высота 1.5м, ширина 2м, объем
    9.00м³, грузоподъемность 1.5т. Пожалуйста учитывайте это при оформлении
    заказа!
  </p>

  <p>
    Cтоимость одного километра составляет 25 рублей, минимальная сумма — 1500
    рублей.
  </p>

  <p>
    Мы понимаем, что каждый клиент имеет свои требования и потребности, поэтому
    мы предоставляем индивидуальный подход к каждому заказу. Мы гарантируем
    высокое качество услуг и конкурентоспособные цены.
  </p>

  <p>
    Если у вас есть какие-либо вопросы или вы хотите узнать больше о наших
    услугах, пожалуйста, свяжитесь с нами, телефон: +7 (800) 555-35-35 с 09:00
    до 20:00. Мы будем рады помочь вам!
  </p>
</div>
