h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0 0 1rem 0;
}

h3 {
  //background: #5e35b1;
  background: deepskyblue;
  color: white;
  padding: 1rem;
}

.order-info {
  margin: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  float: left;
  background: lightcyan;
}

.column-1 {
  display: block;
  width: 100px;
}

.column-2 {
  display: block;
}

p {
  margin-bottom: 0.5rem;
  padding: 0;
}

.wrapper {
  padding: 2rem;
}
