.wrapper {
  padding: 2rem 0;
  overflow: hidden;
}

p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

mat-form-field {
  min-width: 1500px;

  box-sizing: content-box;
}

button {
  margin-bottom: 1rem;
}
