.wrapper {
  padding: 2rem;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.status-field {
  width: 150px;
}

.table-options {
  display: flex;
}

.sort,
.search,
.filter {
  width: 25%;
  margin-right: 1rem;
}

.out {
  width: 25%;
  height: 55px;
}
