.wrapper {
  width: 99%;
  margin: 0 auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.out{
  margin-bottom: 1rem;
}

.footer {
  height: 50px;
}

.status-field{
  width: 150px;
}

