.wrapper {
  display: flex;
  justify-content: center;
}

.column {
  display: block;
  padding: 2rem 4rem 2rem 0;
  p {
    color: red;
    margin-top: 1rem;
  }
}

.column:last-child {
  padding: 2rem 0 2rem 0;
}

.title {
  width: 100%;
  padding-bottom: 1rem;
  margin: 0;
}

mat-form-field {
  width: 300px;
}
